<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_submit_all_after">
        <observer name="adminObserver" instance="salesOrder\salesOrderModule\Observer\adminObserver"/>
    </event>
	
	<event name="sales_order_shipment_save_after">
        <observer name="orderSaveObserver" instance="salesOrder\salesOrderModule\Observer\orderSaveObserver" />
    </event>
		
	<event name="sales_order_invoice_pay">
        <observer name="invoiceSaveObserver" instance="salesOrder\salesOrderModule\Observer\invoiceSaveObserver" />
    </event>
	
	<!-- trigger on when  invoice is saved -->
    <!--<event name="sales_order_invoice_save_after">
        <observer name="orderSaveObserver" instance="salesOrder\salesOrderModule\Observer\orderSaveObserver" />
    </event>-->

    
</config>